<div class="catalog">
  <ul class="catalog__list">
    <li class="catalog__item catalog__item-add">
      <p>
        You can add a product card by clicking on the button
      </p>
      <button class="btn-reset catalog__item-add-btn">
        <span class="catalog__item-add-btn-icon"></span>
        <span class="text">Add card</span>
      </button>
    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/1.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/1.png" alt="product" />
        </picture>
      </div>
      <button class="btn-reset item__badge badge badge-rpg">
        <span class="badge__point"></span>
        <span>Action RPG</span>
      </button>

      <a href="#" class="item__title">Saints Row</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">0</span>
      </div>
      <p class="item__descr">Platinum Edition</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/2.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/2.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-multi">
        <div class="badge__point"></div>
        <span>Multiplayer RPG</span>
      </a>

      <a href="#" class="item__title">Paladins</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">1,820</span>
      </div>
      <p class="item__descr">Get the Captain Price Operator included with purchase</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-current">Free</span>
          </div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/3.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/3.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-action">
        <div class="badge__point"></div>
        <span>Action</span>
      </a>

      <a href="#" class="item__title">Far Cry 6</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">2,888</span>
      </div>
      <p class="item__descr">In-Game Content</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/4.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/4.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-shooter">
        <div class="badge__point"></div>
        <span>Shooter</span>
      </a>

      <a href="#" class="item__title">Call of Duty: Warzone</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">18,982</span>
      </div>
      <p class="item__descr">Get the Captain Price Operator included with purchase</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/5.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/5.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-action">
        <div class="badge__point"></div>
        <span>Action</span>
      </a>

      <a href="#" class="item__title">World of Warcraft: Shadowlands</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-half"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">299</span>
      </div>
      <p class="item__descr">Includes access to World of Warcraft, Burning Crusade Classic, and WoW Classic!</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/6.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/6.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-shooter">
        <div class="badge__point"></div>
        <span>Shooter</span>
      </a>

      <a href="#" class="item__title">Fortnite</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-half"></li>
        </ul>
        <span class="raiting__count">9,199</span>
      </div>
      <p class="item__descr">Get the Captain Price Operator included with purchase</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/7.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/7.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-rpg">
        <div class="badge__point"></div>
        <span>Action RPG</span>
      </a>

      <a href="#" class="item__title">Horizon: Forbidden West</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-half"></li>
        </ul>
        <span class="raiting__count">9,199</span>
      </div>
      <p class="item__descr">Platinum Edition</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/8.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/8.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-action">
        <div class="badge__point"></div>
        <span>Action</span>
      </a>

      <a href="#" class="item__title">Need for Speed: Heat</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-half"></li>
        </ul>
        <span class="raiting__count">2,911</span>
      </div>
      <p class="item__descr">Includes access to World of Warcraft, Burning Crusade Classic, and WoW Classic!</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-current">$649</span>
          </div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/9.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/9.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-action">
        <div class="badge__point"></div>
        <span>Action</span>
      </a>

      <a href="#" class="item__title">Spider-Man: Miles Morales</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">920</span>
      </div>
      <p class="item__descr">Get the Captain Price Operator included with purchase</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/10.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/10.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-cardGame">
        <div class="badge__point"></div>
        <span>Card Game</span>
      </a>

      <a href="#" class="item__title">Witcher 3: Wild Hunt</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
        </ul>
        <span class="raiting__count">299,890</span>
      </div>
      <p class="item__descr">Will only be usable in the new Classic Format when it is released</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/11.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/11.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-rpg">
        <div class="badge__point"></div>
        <span>Action RPG</span>
      </a>

      <a href="#" class="item__title">Guardians of the Galaxy</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">0</span>
      </div>
      <p class="item__descr">Platinum Edition</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/12.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/12.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-rpg">
        <div class="badge__point"></div>
        <span>Action RPG</span>
      </a>

      <a href="#" class="item__title">Crash Team Racing</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">10</span>
      </div>
      <p class="item__descr">Get the Captain Price Operator included with purchase</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/13.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/13.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-rpg">
        <div class="badge__point"></div>
        <span>Action RPG</span>
      </a>

      <a href="#" class="item__title">Spider-Man</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-full"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">1110</span>
      </div>
      <p class="item__descr">Platinum Edition</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old">$1,299</span>
            <span class="item__price-current">$649</span>
          </div>
          <div class="item__price-discount item__price-discount-active">-50%</div>
        </div>
      </div>

    </li>
    <li class="catalog__item item">
      <div class="item__remove"></div>
      <div class="item__img">
        <picture>
          <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/catalog/14.webp" />
          <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/catalog/14.png" alt="product" />
        </picture>
      </div>
      <a href="#" class="item__badge badge badge-rpg">
        <div class="badge__point"></div>
        <span>Action RPG</span>
      </a>

      <a href="#" class="item__title">Dragon Age 5</a>
      <div class="item__raiting raiting">
        <ul class="raiting__list">
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
          <li class="raiting__item raiting__item-empty"></li>
        </ul>
        <span class="raiting__count">0</span>
      </div>
      <p class="item__descr">Non released</p>

      <div class="item__inner">
        <div class="item__price price">
          <div class="item__price-group">
            <span class="item__price-old"></span>
            <span class="item__price-current"></span>
          </div>

        </div>
      </div>
    </li>
  </ul>

  <div class="catalog__pagination pagination">
    <div class="pagination__wrapper">
      <button class="btn-reset pagination__arrow pagination__arrow-back pagination__arrow-disabled">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7 10L6.43431 9.43431C6.1219 9.74673 6.1219 10.2533 6.43431 10.5657L7 10ZM10.4343 14.5657C10.7467 14.8781 11.2533 14.8781 11.5657 14.5657C11.8781 14.2533 11.8781 13.7467 11.5657 13.4343L10.4343 14.5657ZM11.5657 6.56569C11.8781 6.25327 11.8781 5.74673 11.5657 5.43431C11.2533 5.1219 10.7467 5.1219 10.4343 5.43431L11.5657 6.56569ZM11.5657 13.4343L7.56569 9.43431L6.43431 10.5657L10.4343 14.5657L11.5657 13.4343ZM7.56569 10.5657L11.5657 6.56569L10.4343 5.43431L6.43431 9.43431L7.56569 10.5657Z"
            fill="#101828" />
        </svg>
      </button>
      <ul class="pagination__list">
        <li class="pagination__item pagination__item-current">
          <a href="#">1</a>
        </li>
        <li class="pagination__item ">
          <a href="#">2</a>
        </li>
        <li class="pagination__item ">
          <a href="#">3</a>
        </li>
        <li class="pagination__item ">
          <a href="#">4</a>
        </li>
        <li class="pagination__item ">
          <a href="#">5</a>
        </li>
        <li class="pagination__item pagination__item-more">
          <a href="#">...</a>
        </li>
        <li class="pagination__item">
          <a href="#">99</a>
        </li>
      </ul>
      <button class="btn-reset pagination__arrow pagination__arrow-next">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 10L13.5657 10.5657C13.7157 10.4157 13.8 10.2122 13.8 10C13.8 9.78783 13.7157 9.58434 13.5657 9.43432L13 10ZM9.56569 5.43431C9.25327 5.1219 8.74673 5.1219 8.43432 5.43431C8.1219 5.74673 8.1219 6.25327 8.43432 6.56569L9.56569 5.43431ZM8.43431 13.4343C8.1219 13.7467 8.1219 14.2533 8.43431 14.5657C8.74673 14.8781 9.25327 14.8781 9.56569 14.5657L8.43431 13.4343ZM8.43432 6.56569L12.4343 10.5657L13.5657 9.43432L9.56569 5.43431L8.43432 6.56569ZM12.4343 9.43431L8.43431 13.4343L9.56569 14.5657L13.5657 10.5657L12.4343 9.43431Z"
            fill="#101828" />
        </svg>
      </button>
    </div>
  </div>

  <button class="btn-reset catalog__show-more-mobile">
    Show more
  </button>
</div>