<section class="faq">
  <h3 class="faq__title">Frequently asked questions</h3>
  <p class="faq__descr">Everything you need to know about the games.</p>

  <div class="accordion">
    <div class="accordion__item">
      <button class="btn-reset accordion__btn">
        <span>How does work?</span>
        <span class="accordion__btn-icon"></span>
      </button>
      <div class="accordion__content content">
        <p>
          A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
          feedback is shown
          on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset. A video game or
          computer
          game is an electronic game that involves interaction with a user interface or input device – such as a
          joystick,
          controller, keyboard, or motion sensing device – to generate visual feedback. This feedback is shown on a
          video display
          device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        </p>
        <ul class="content__list">
          <li class="content__item"><span>motion sensing device,</span></li>
          <li class="content__item"><span>controller,</span></li>
          <li class="content__item"><span>keyboard,</span></li>
          <li class="content__item"><span>joystick</span></li>
        </ul>
        <h4 class="content__sub">Visual feedback.</h4>
        <p>A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.</p>
      </div>
    </div>
    <div class="accordion__item">
      <button class="btn-reset accordion__btn accordion__btn-open">
        <span>What is a game?</span>
        <span class="accordion__btn-icon"></span>
      </button>
      <div class="accordion__content content">
        <p>
          A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
          feedback is shown
          on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset. A video game or
          computer
          game is an electronic game that involves interaction with a user interface or input device – such as a
          joystick,
          controller, keyboard, or motion sensing device – to generate visual feedback. This feedback is shown on a
          video display
          device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        </p>
        <ul class="content__list">
          <li class="content__item"><span>motion sensing device,</span></li>
          <li class="content__item"><span>controller,</span></li>
          <li class="content__item"><span>keyboard,</span></li>
          <li class="content__item"><span>joystick</span></li>
        </ul>
        <h4 class="content__sub">Visual feedback.</h4>
        <p>A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.</p>
      </div>
    </div>
    <div class="accordion__item">
      <button class="btn-reset accordion__btn">
        <span>Is there a free trial available?</span>
        <span class="accordion__btn-icon"></span>
      </button>
      <div class="accordion__content content">
        <p>
          A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
          feedback is shown
          on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset. A video game or
          computer
          game is an electronic game that involves interaction with a user interface or input device – such as a
          joystick,
          controller, keyboard, or motion sensing device – to generate visual feedback. This feedback is shown on a
          video display
          device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        </p>
        <ul class="content__list">
          <li class="content__item"><span>motion sensing device,</span></li>
          <li class="content__item"><span>controller,</span></li>
          <li class="content__item"><span>keyboard,</span></li>
          <li class="content__item"><span>joystick</span></li>
        </ul>
        <h4 class="content__sub">Visual feedback.</h4>
        <p>A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.</p>
      </div>
    </div>
    <div class="accordion__item">
      <button class="btn-reset accordion__btn">
        <span>How does billing work?</span>
        <span class="accordion__btn-icon"></span>
      </button>
      <div class="accordion__content content">
        <p>
          A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
          feedback is shown
          on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset. A video game or
          computer
          game is an electronic game that involves interaction with a user interface or input device – such as a
          joystick,
          controller, keyboard, or motion sensing device – to generate visual feedback. This feedback is shown on a
          video display
          device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        </p>
        <ul class="content__list">
          <li class="content__item"><span>motion sensing device,</span></li>
          <li class="content__item"><span>controller,</span></li>
          <li class="content__item"><span>keyboard,</span></li>
          <li class="content__item"><span>joystick</span></li>
        </ul>
        <h4 class="content__sub">Visual feedback.</h4>
        <p>A video game or computer game is an electronic game that involves interaction with a user interface or input
          device –
          such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.</p>
      </div>
    </div>
  </div>
</section>