<footer class="footer">
  <div class="container">
    <div class="footer__subscribe subscribe">
      <div class="subscribe__inner">
        <h5>Join our newsletter</h5>
        <p>We’ll send you a nice letter one per week. No spam.</p>
      </div>
      <form action="#" class="subscribe__form">
        <input type="email" placeholder="Enter email">
        <button class="btn-reset" type="submit">Subscribe</button>
      </form>
    </div>

    <div class="footer__nav">
      <div class="footer__row menu">
        <span>Categories</span>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#">Strategy</a>
          </li>
          <li class="menu__item">
            <a href="#">Action</a>
          </li>
          <li class="menu__item">
            <a href="#">Shooter</a>
          </li>
          <li class="menu__item">
            <a href="#">Card Game</a>
          </li>
          <li class="menu__item">
            <a href="#">Simulator</a>
          </li>
          <li class="menu__item">
            <a href="#">RPG</a>
          </li>
          <li class="menu__item">
            <a href="#">Multiplayer</a>
          </li>
        </ul>
      </div>

      <div class="footer__row menu">
        <span>Company</span>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#">About us</a>
          </li>
          <li class="menu__item">
            <a href="#">Careers</a>
          </li>
          <li class="menu__item">
            <a href="#">Press</a>
          </li>
          <li class="menu__item">
            <a href="#">News</a>
          </li>
          <li class="menu__item">
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="footer__row menu">
        <span>Legal</span>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#">Terms</a>
          </li>
          <li class="menu__item">
            <a href="#">Privacy</a>
          </li>
          <li class="menu__item">
            <a href="#">Cookies</a>
          </li>
          <li class="menu__item">
            <a href="#">Licenses</a>
          </li>
          <li class="menu__item">
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>

      <div class="footer__row menu">
        <span>Legal</span>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#">Twitter</a>
          </li>
          <li class="menu__item">
            <a href="#">Facebook</a>
          </li>
          <li class="menu__item">
            <a href="#">Dribbble</a>
          </li>
          <li class="menu__item">
            <a href="#">GitHub</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__copyright">
      Copyright © GameVendor, 2022
    </div>
  </div>
</footer>