<section class="hero">
  <h1 class="hero__title">Games</h1>

  <div class="hero__banner hero__banner-big-desctop" style="background-image: url('./assets/img/Banner-1440.png');">
    <div class="hero__banner-info">
      <h2 class="hero__banner-title">Refer a friends and get $10 off!</h2>
      <p class="hero__banner-descr">
        Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.
      </p>
      <button class="hero__banner-btn btn btn-reset">Invite a friend</button>
    </div>
  </div>

  <div class="hero__banner hero__banner-desctop" style="background-image: url('./assets/img/Banner-1024.png');">
    <div class="hero__banner-info">
      <h2 class="hero__banner-title">Refer a friends and get $10 off!</h2>
      <p class="hero__banner-descr">
        Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.
      </p>
      <button class="hero__banner-btn btn btn-reset">Invite a friend</button>
    </div>
  </div>

  <div class="hero__banner hero__banner-tablet" style="background-image: url('./assets/img/banner-720.png');">
    <div class="hero__banner-info">
      <h2 class="hero__banner-title">Refer a friends and get $10 off!</h2>
      <p class="hero__banner-descr">
        Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.
      </p>
      <button class="hero__banner-btn btn btn-reset">Invite a friend</button>
    </div>
  </div>

  <div class="hero__banner hero__banner-mobile" style="background-image: url('./assets/img/mobile-banner.png');">
    <div class="hero__banner-info">
      <h2 class="hero__banner-title">Refer a friends and get $10 off!</h2>
      <p class="hero__banner-descr">
        Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.
      </p>
      <button class="hero__banner-btn btn btn-reset">Invite a friend</button>
    </div>
  </div>
</section>